body {
    margin: 0;
    width: 100%;
    max-width: 1440px;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;

    background: #E5E5E5;

}

*,
*:before,
*:after {
    box-sizing: border-box;

}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
h2 {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 62px;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;



}
mark {
    background-color: #ECE341;
}


/*Header*/


.header {
    width: 100%;
    max-width: 1440px;
    height: 644px;

    margin-bottom: 37px;


}

.header-inner {

    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: flex-start;

}
/*1й*/
.header-left {
    margin-top: 40px;
    margin-left: 135px;
}

.header-text {
    width: 721px;
    height: 302px;
    position: absolute;

    left: 137px;
    right: 590px;


}

.header-title {
    margin-top: 80px;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    color: #000;
    line-height: 83px;

}

.header-subtitle {
    margin-top: 16px;

    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    color: #000;
    line-height: 37px;
}


/*2*/
.header-right {
    width: 705px;
    height: 621px;
    background-color: #fff;
    border-bottom-left-radius: 60px;
    position: relative;

}

.header-phone-link {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #000;
    line-height: 26px;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2;
    right: 134px;
    top: 55px;

}
.header-phone-link:hover {
    text-decoration: underline;
}

.header-img {
    position: absolute;
    left: 48px;
    top: 80px;

}




/*============================HOW*/






.how {
    width: 100%;
    max-width: 1170px;
    height: 525px;

    margin: 37px 135px 140px 135px;
}

.how-title {
    width: 870px;
    height: 124px;

    margin: 0 435px 56px 0px;
}



.paragraph {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    opacity: 0.65;

}

/*frames*/

.how-frames {

    margin-top: 32px;
    margin-bottom: 140px;
    display: flex;
    width: 1170px;
    height: 292px;
    justify-content: space-between;
}

.how-frame h3 {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 62px;
    margin-top: 24px;
}

.how-frame p {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    margin-top: 4px;
}

/*WHY*/
.why {
    width: 100%;



    max-width: 1072px;
    height: 757px;

    margin: 0 233px 0 135px;
}


.why-title {
    width: 870px;
    height: 248px;
    margin-bottom: 56px;
}

.why-frames {
    width: 1072px;

    flex-wrap: wrap;
    margin-top: 38px;
    display: flex;
}


.why-frame {
    margin-right: 134px;
    margin-bottom: 56px;
    display: flex;
    align-items: center;
}

.why-frame:nth-child(even) {
    margin-right: 0;
}

.why-frame:nth-child(5),
.why-frame:nth-child(6) {
    margin-bottom: 0;
}


.why-frame p {
    display: inline-block;

}

.why-frame-container {
    width: 349px;
    margin-left: 24px;
}

.why-frame-text {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;


}

/*Steps*/

.steps {
    margin-top: 140px;
}

.step-yellow {
    margin: 40px 0;

    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
}

.step-yellow mark {
    padding: 10px;
}

.step-title {
    width: 100%;
    max-width: 670px;


    margin-bottom: 40px;
}

/*step-1*/
.step-1 {
    width: 100%;
    max-width: 1250px;
    height: 621px;

    display: flex;
    align-items: flex-start;

    margin: 0 55px 0 135px;
}

.step-1-left {
    width: 670px;
    height: 621px;
    margin-right: 30px;
}

.step-article {
    width: 668px;
}

.step-text {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;

    width: 100%;
    max-width: 668px;

}

.step-list {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    margin: 10px 0;

    color: #000;
}



li {
    margin: 8px 0 8px 20px;

    color: silver;
    list-style-type: disc;
}

li:last-child {
    margin-bottom: 0;
}

.b {
    display: inline-block;
    list-style-type: disc;
}



/*step-2*/
.step-2 {
    width: 100%;
    max-width: 1250px;
    height: 600px;
    display: flex;
    align-items: center;


    margin: 20px 135px 20px 55px;
}

.step-2-left img {
    margin-right: 30px;
}

.step-2-right {
    width: 100%;
    max-width: 670px;
    height: 388px;
}



.step-2-text{
    width: 100%;
    max-width: 668px;
    height: 78px;
}

/*Step-3*/

.step-3 {
    width: 100%;
    max-width: 1250px;
    height: 662px;

    display: flex;
    align-items: center;

    margin: 0 55px 20px 135px;
}

.step-3-left {
    width: 100%;
    max-width: 670px;
    height: 662px;


}

/*step-4*/

.step-4 {
    width: 100%;
    max-width: 1250px;
    height: 600px;
    display: flex;
    align-items: center;


    margin: 20px 135px 20px 55px;
}
/*step-5*/
.step-5 {
    width: 100%;
    max-width: 1250px;
    height: 600px;
    display: flex;
    align-items: center;


    margin: 0 55px 20px 135px;
}

/*step-6*/

.step-6 {
    width: 100%;
    max-width: 1250px;
    height: 600px;
    display: flex;
    align-items: center;


    margin: 0 135px 20px 55px;
}

/*step-7*/
.step-7 {
    width: 100%;
    max-width: 1250px;
    height: 600px;
    display: flex;
    align-items: center;


    margin: 0 55px 20px 135px;
}

/*Attention*/
.attention {
    width: 100%;
    max-width: 1232px;
    height: 174px;
    background-color: #FBF7AD;



    margin: 0 auto 27px auto;

    position: relative;

    display: flex;
    align-items: center;

}

.attention-text {
    width: 100%;
    max-width: 800px;
    height: 94px;

    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: #000;

    position: absolute;
    top: 40px;
    bottom: 40px;
    left: 201px;
    right: 231px;
    background-color: #FBF7AD;
}

.attention-icon {

    margin: 47px 45px 47px 76px;
}

.attention p{
    margin: 0;
}

.attention p:first-child{
    margin-bottom: 16px;
}

/*SEND*/

.send {
    width: 100%;
    max-width: 1232px;
    height: 417px;
    margin: 0 auto 75px auto;
    background-color: #fff;
}

.send-inner {
    padding: 80px 101px;
    width: 100%;

    background-color: #fff;
    display: flex;
    justify-content: space-between;

    align-items: flex-end;
}

.send-text {
    width: 100%;
    max-width: 628px;
    height: 93px;
}

.send-title {

    width: 100%;
    max-width: 700px;
    height: 124px;
}

.btn {
    width: 260px;
    height: 83px;
    padding: 30px 50px;
    border: none;

    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #000;

    background: #ECE341;
}
/*Footer*/
footer {
    width: 100%;
    max-width: 1170px;
    height: 176px;
    margin: 0 auto 74px auto;
    
}

.footer-up {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
}

.footer-down {
    width: 100%;


    display: flex;
    justify-content: space-between;

}

.contacts {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    opacity: 0.5;
    color: #000;
    margin: 0;

}

.footer-text {
    width: 100%;
    max-width: 365px;
    height: 42px;
}

.footer-right {
    display: flex;
}

/*phone*/
.footer-phone {
    width: 100%;
    max-width: 179px;
    height: 40px;

    margin-right: 24px;

}

.footer-phone-link {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #000;

    align-items: center;
    display: flex;

}

/*mail*/

.footer-email {
    width: 100%;
    max-width: 201px;
    height: 40px;

    margin-right: 24px;

}

.footer-email-link {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #000;

    align-items: center;
    display: flex;

}