*,
*::before,
*::after {
    box-sizing: border-box; /*уберем все стоковые падинги и маргины*/
}

a {
    text-decoration: none;
    display: inline-block; /*все наши ссылки строчно блочные*/
}

ul,
li {
    list-style: none; /*офф маркеры*/
    margin: 0;
    padding: 0;
}

body {
    font-family: "Manrope", "AstralIcon", sans-serif;
    font-weight: bold;
    font-size: 48x;
    line-height: 130%;
    color: #000000;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1171px;
    margin: 0 auto; /*выровнить по центру*/
}

/*===============HEADER===========*/

.header_menu {/*шапка*/
    display: flex;

}

.logo {/*лого*/
    display: inline-block;
    font-family: "Manrope";
    color: #000000;
    margin-left: 135px;
    margin-top: 40px;
    background: #ECE341;
    padding: 38.5px 44px 38.5px 106px;
    border-radius: 10px;
    font-size: 11.5px;
    position: relative ;
}
.logo:before {/*иконта лого*/
    display: inline-block;
    font-size: 43px;
    content: "\e937";
    font-family: "AstralIcon";
    position: absolute;
    left: 35.5px;
}

.logo:after { /*черта*/
    content: "";
    display: inline-block;
    width: 1px;
    height: 36px;
    background: #D6D6D6;
    margin: 60px auto;
    margin-top: 67px;
    margin-left: 44px;
    position: absolute;


}

.logo:after:after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 36px;
    background: #D6D6D6;
    margin: 60px auto;
    margin-top: 67px;
    margin-left: 24px;
    position: absolute;


}

.header_phone {/*телефон*/
    margin-top: 55px;
    color: #000;
    display: inline-block;
    float: right;


}
.header_phone:before { /*иконка трубы*/
    display: inline-block;
    content: "\f2b3";
    font-family: "AstralIcon";
    margin-left: 280px;
    font-size: 24px;
    background: #ECE341;
    border-radius: 50%;


}

.astral:before {
    display: inline-block;
    content: "\e942";
    font-family: "AstralIcon";
    font-size: 24px;

}
/*.phone {
    height: 26px;
    width: 159px;
    font-family: Manrope;
    margin-left: 603px;
    margin-top: 55px;
    color: #000;
    margin-right: 134px;
}*/


.header_inner {
    width: 1440px;
    height: 644px;
}
